.viewingTask {
  width: 100%;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  height: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px 30px;
}

.taskGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.name {
  font-size: 24px;
}