@import "../../mixin.scss";

.viewingTask {
  width: 100%;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  height: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px 30px;
  @include _576 {
    padding: 10px;
  }
}

.taskGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.name {
  font-size: 24px;
  word-break: break-all;
  padding-right: 5px;
}

.description {
  word-break: break-all;
}

.edit {
  min-width: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0079bf;
  border-radius: 5px;
  margin-top: 15px;
  padding: 6px;
  font-size: inherit;
  color: #ffffff;
  font-family: inherit;
  transition: all 300ms ease;
  
  &:hover:not([disabled]) {
    background-color: #3acc35;
    color: #EBECF0
  }
}

.textarea {
  display: block;
  background: #EBECF0;;
  padding: 7px 8px;
  margin-top: 5px;
  width: 100%;
  min-height: 110px;
  font-size: 18px;
  border-radius: 5px;
  resize:vertical;
}

.submit {
  min-width: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 15px;
  padding: 6px;
  font-size: inherit;
  color: #5e6c84;
  font-family: inherit;
  transition: all 300ms ease;
  background-color: #0079bf;
  color: #ffffff;

  &:hover:not([disabled]) {
    background-color: #EBECF0;
    color: #000000;
  }
}