.board {
  flex: 1 1;
  background: #ebecf0;
  border-radius: 10px;
  padding: 12px 0 15px 12px;
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }

  &-title {
    font-size: inherit;
    user-select: none;
  }

  &-item-wrapper {
    padding-right: 12px;
    max-height: calc(100vh - 209px);
    overflow-y: auto;
  }
}
