@import "../../mixin.scss";

.board {
  flex: 1 1 25%;
  background: #ebecf0;
  border-radius: 10px;
  padding: 12px 0 15px 12px;
  margin-right: 24px;
  @include _1200 {
    flex: 1 0 calc(50% - 24px);
    margin-bottom: 24px;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
  @include _576 {
    margin-right: 0;
    flex: 1 0 100%;
  }

  &:last-child {
    margin-right: 0;
  }
}

.title {
  font-size: inherit;
  user-select: none;
}

.itemWrapper {
  padding-right: 12px;
  max-height: calc(100vh - 209px);
  overflow-y: auto;
}
