.task {
  &-block__create {
    margin: 15px 0;
    border-radius: 5px;
  }

  &-label {
    display: block;
    background: #ffffff;
    border-radius: 5px;
    // &::after {
    //   content: '';
    //   display: block;
    //   width: 100%;
    //   height: 1px;
    //   background-color: #000;
    // }
  }

  &-input {
    display: block;
    width: 100%;
    padding: 7px 8px;
    font-size: 18px;
    border-radius: 5px;
    &::placeholder {
      color: #000
    }
  }

  &-textarea {
    display: block;
    background: #ffffff;
    padding: 7px 8px;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    resize:vertical;
  }
}